body {
    background-color: #0f172a;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: rgba(0, 0, 0, 0.8);
}

.hero {
    height: 100vh;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    border: 4px solid #0d6efd;
    box-shadow: 0 0 30px #0d6efd;
}

.social-icons a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #0d6efd;
    transform: scale(1.2);
}

.projects {
    background-color: #1e293b;
}

.project-card {
    background-color: #0f172a;
    border: 1px solid #334155;
    transition: 0.4s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #0d6efd;
}

.tech-stack {
    font-size: 14px;
    color: #94a3b8;
}

footer {
    background-color: #0f172a;
    border-top: 1px solid #334155;
}

